.accessories-table-container{
    width: 30%;
    margin-top: 10px;
    margin-left: 200px;
    min-height: 620px;
    border: 5px solid black;
    background-color: rgb(250, 31, 24);
}

.forms2{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 250px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid black;
    background-color: white;
}

.tittle2{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}