.access-row-container{
    text-align: left;
    background-color: rgb(250, 31, 24);
    border: 3px solid black;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}